<app-navbar class="fixed-top"></app-navbar>

<main>
    <section class="banner">
        <div class="container">
            <div class="line-break"><br><br><br><br><br><br><br><br><br><br><br><br></div>
            <h1>
                Hello World <br class="hide-mob">
                Have a <span>good</span> day!
            </h1>
            <h3>A Toronto based Full Stack Dev</h3>
            <!-- <a href="#" class="button">Find out more</a> -->
            <div class="social-icons">
                <i class="fa fa-6x fa-github-square"></i>
                <i class="fa fa-6x fa-linkedin-square"></i>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-6x fa-twitter-square"></i>
            </div>
        </div>
        <i class="down-arrow fa fa-chevron-down rounded-circle" routerLink="/home" fragment="about"></i>
    </section>
</main>