div {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 18px gray;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  div.image-container {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    div.overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      div.text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
  div.image-container:hover div.overlay {
    opacity: 1;
  }
  div.image-container:hover div.text {
    background-color: #191919;
    transition: background-color 0.5s linear;
  }
}
