span.download-button {
    background-color: #D3D3D3;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

span.download-button:hover {
    background-color: #000;
    color: #FFF;
    font-weight: 600;
    transition: color 0.5s linear;
    transition: background-color 1s linear;
}

div.main-text {
      @media (max-width: 767px) {
          padding-left: 40px;
          padding-right: 40px;
          a {
              margin-top: 32px;
          }
        }
}