<div class="w-100 bg-dark text-light py-3">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-3 text-center">
        <img
          [src]="profileImage"
          alt="Profile Image"
          class="w-50 rounded mx-auto d-block border my-3"
        />
      </div>
      <div class="col-md-9 main-text">
        <h3>About me</h3>
        <div class="text-secondary">
          <div *ngFor="let about of aboutTexts; let j = index">
            <p>
              <span *ngFor="let salutation of about.salutations; let i = index"
                ><span *ngIf="i !== 0">&nbsp;&bull;&nbsp;</span
                >{{ salutation }}</span
              >
            </p>
            <p *ngFor="let text of about.texts">{{ text }}</p>
            <hr *ngIf="j < aboutTexts.length - 1" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5 text-left text-secondary main-text">
        <h3 class="text-light">Contact Details</h3>
        <p class="m-0">{{ contactDetails.name }}</p>
        <p class="m-0">{{ contactDetails.city }}</p>
        <p class="m-0">
          {{ contactDetails.province }}, {{ contactDetails.postalCode }}
        </p>
        <p class="m-0">{{ contactDetails.phone }}</p>
        <p class="m-0">{{ contactDetails.email }}</p>
      </div>
      <div class="col-md-4 main-text">
        <span
          href="#"
          (click)="downloadResume()"
          download
          class="text-decoration-none border rounded p-3 download-button bg-muted"
        >
          Download Resume
        </span>
      </div>
    </div>
  </div>
</div>
