<div class="w-100 bg-dark text-light">
  <div class="container py-3">
  <div class="row">
    <div class="col-md-3 text-center">
      <img src="../../assets/images/profile.jpg" alt="Profile Image" class="w-50 rounded mx-auto d-block border my-3">
    </div>
    <div class="col-md-9">
      <h3>About me</h3>
      <p class="text-secondary"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo totam quod distinctio tempora eaque, maiores rem necessitatibus. 
      Illo perferendis neque blanditiis, impedit dolor vel commodi, sit sunt, natus dolore perspiciatis!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo totam quod distinctio tempora eaque, maiores rem necessitatibus. 
      Illo perferendis neque blanditiis, impedit dolor vel commodi, sit sunt, natus dolore perspiciatis!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo totam quod distinctio tempora eaque, maiores rem necessitatibus. 
      Illo perferendis neque blanditiis, impedit dolor vel commodi, sit sunt, natus dolore perspiciatis!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo totam quod distinctio tempora eaque, maiores rem necessitatibus. 
      Illo perferendis neque blanditiis, impedit dolor vel commodi, sit sunt, natus dolore perspiciatis!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo totam quod distinctio tempora eaque, maiores rem necessitatibus. 
      Illo perferendis neque blanditiis, impedit dolor vel commodi, sit sunt, natus dolore perspiciatis!</p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5 text-left text-secondary">
      <h3 class="text-light">Contact Details</h3>
      <p class="m-0">Subarna B Khadka</p>
      <p class="m-0">Toronto</p>
      <p class="m-0">Ontario, M1M 1T2</p>
      <p class="m-0">647 - 914 - 7091</p>  
      <p class="m-0">khadka.subarnabijaya@gmail.com</p>
    </div>
    <div class="col-md-4">
      <a href="#" download class="text-decoration-none border rounded p-3 download-button bg-muted">
        Download Resume
      </a>
    </div>
  </div>
  

</div>
</div>
