<app-header id="home" [social]="socialIds"></app-header>




<h1>About me</h1>
<app-about id="about"></app-about>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <app-resume id="resume"></app-resume>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <app-portfolio id="portfolio"></app-portfolio>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque aliquid fuga cumque minus, 
  asperiores iure velit ipsum consequatur impedit nesciunt tenetur, corrupti repellat nam quisquam 
  soluta inventore alias labore doloribus.</p>
  <app-footer id="footer"></app-footer>