// font-family: 'Fira Sans', sans-serif;
// font-family: 'Love Light', cursive;
// font-family: 'News Cycle', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Orelega One', cursive;
// font-family: 'Staatliches', cursive;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'News Cycle', sans-serif;
    // font-family: 'Fira-sans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    @media (max-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
        
    }
}
