<div class="container pt-3">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <form [formGroup]="contactForm">
        <div class="form-group my-3">
          <label for="name" class="text-muted"><small>Name</small></label>
          <input
            type="text"
            id="name"
            class="form-control bg-dark text-muted border-dark"
            formControlName="name"
          />
        </div>

        <div class="form-group my-3">
          <label for="email" class="text-muted"><small>Email</small></label>
          <input
            type="email"
            id="email"
            class="form-control bg-dark text-muted border-dark"
            formControlName="email"
          />
        </div>

        <div class="form-group my-3">
          <label for="subject" class="text-muted"><small>Subject</small></label>
          <input
            type="text"
            id="subject"
            class="form-control bg-dark text-muted border-dark"
            formControlName="subject"
          />
        </div>

        <div class="form-group my-3">
          <label for="message" class="text-muted"><small>Message</small></label>
          <textarea
            id="message"
            class="form-control bg-dark text-muted border-dark"
            formControlName="message"
            rows="6"
          ></textarea>
        </div>

        <button class="btn form-control btn-dark" (click)="sendMessage()">
          SEND
        </button>
        <small></small>
      </form>
    </div>
    <div class="col-md-4 col-sm-12 text-muted">
      <div class="contact-box">
        <h3>Contact Details</h3>
        <p class="m-0">{{ contactDetails.name }}</p>
        <p class="m-0">{{ contactDetails.city }}</p>
        <p class="m-0">{{ contactDetails.province }}, {{ contactDetails.postalCode }}</p>
        <p class="m-0">{{ contactDetails.phone }}</p>
        <p class="m-0">{{ contactDetails.email }}</p>
      </div>
    </div>
  </div>
</div>
